@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text-align: center;
  --oxford-blue: #091c2f;
  --cinnabar: #fc4a2d;
  --baby-powder: #f9fcfa;
  --process-cyan: #19b8ee;
  --fire-engine-red: #d31818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--baby-powder);
  color: var(--oxford-blue);
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
}

header {
  display: grid;  
  justify-content: flex-start; 
  justify-content: space-evenly;
  grid-template-columns: 30% 70%;  
  background-color: var(--oxford-blue);
}

header img {
  padding: 0px 50% 0px 50%;
  margin: 20px;
  border-radius: 50%;
}

nav.header-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: auto;
  font-size: larger;
  color: var(--baby-powder);  
  /* background-color: var(--process-cyan);  
  border: 2px solid black;   
  border-radius: 5px; 
  padding: 5px 25px 5px 25px;   */
}

nav a {
  text-decoration: none;
  color: var(--baby-powder);  
}

h2 {
  font-family: Bokor, Arial, Helvetica, sans-serif;
  color: var(--oxford-blue);
  /* margin-bottom: 16px; */
}

p {
  color: var(--oxford-blue);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

.hero h1 {
  position: absolute;
  color: var(--cinnabar);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: xx-large;
  top: 200px;
  padding: 20px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.hero article {
  position: absolute;
  top: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 5rem;
  max-width: 1000px;
  border-radius: 8px;
}

.hero article p {
  color: var(--baby-powder);
}

.hero article img {
  width: 200px;
  height: auto;
  float: right;
  margin: 20px;
}

.history {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content img {
  width: 400px;
  height: auto;
  margin: 0 20px;
  /* float: right; */
  /* display: flex; */
  /* justify-content: center; */
  /* position: relative; */
}

.content p {
  text-align: justify;
  flex: 1;
  margin: 0 10px;
}

.adventure-awaits-you h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.adventure-awaits-you img {
  /* display: block;
  margin: 1rem; */
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
}

figure {
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  margin-top: 10px;
  font-size: 0.9em;
}

footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 32px;
  font-size: 0.9rem;
  color: var(--baby-powder);
  background-color: var(--oxford-blue);
}

footer img {
  width: 50px;
  padding: 5px;
  margin: 10px 5px 5px 0px;
  text-decoration: none;
}

footer p {
  flex: 1;
  text-align: center;
  margin: 0;
  color: var(--baby-powder);
}

.filler {
  flex: 1;
}

.sociallinks {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 10px;
}